<h1 mat-dialog-title style="color:  rgb(17, 114, 117);">Add New Empoyee</h1>
<div mat-dialog-content>
   <form [formGroup]="productForm">
    <mat-form-field appearance="outline">
        <mat-label>Empolee Name</mat-label>
        <input formControlName="Name" matInput placeholder="Name">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
       
    </mat-form-field> 

    <mat-form-field appearance="outline">

        <mat-label>Department</mat-label>

        <mat-select formControlName="department" placeholder="">
            <mat-option [value]=""></mat-option>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-option value="Account">Accounts Department</mat-option>
    <mat-option value="IT">IT Department</mat-option>
    <mat-option value="HR">HR Department</mat-option>
    <mat-option value="marketing">Marketing Department</mat-option>

        </mat-select>
    </mat-form-field> 

  
        <mat-form-field appearance="outline">
            <mat-label>Date Of Birth</mat-label>
            <input formControlName="date" matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
   
    
 <mat-radio-group formControlName="gender" class="example-radio-group"  >
    <label><h3>Gender</h3></label>
        <mat-radio-button class="example-radio-button"  *ngFor= "let gender of genderList" [value]="gender">{{gender}}</mat-radio-button>
       
      </mat-radio-group>
      <mat-form-field  appearance="outline">
          <mat-label>
e-mail
          </mat-label>
          <input formControlName="email" matInput type="text" matInput placeholder="example@gmail.com"/>
      </mat-form-field>

 
    <mat-form-field  appearance="outline">
        <mat-label>
Other Details
        </mat-label>
        <textarea formControlName="comment" matInput></textarea>
    </mat-form-field>
</form>
</div>
<div mat-dialog-actions [align]="'end'" >
    <button mat-raised-button color="primary"  >Close</button>
    <button mat-raised-button style="background-color:  rgb(17, 114, 117); color: aliceblue;"  (click)="addProduct()">{{actionBtn}}</button>
   
</div>
